<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="msg" ><input type="button" value="发表留言" @click="change_message">
    <br>
    <ul v-for="(value,index) in message">
        <li>{{value}} <a href="javascript:;" @click="del_message(index)">删除</a></li>
    </ul>
    <ul>
        <li>留言总数量：{{message.length}}<a href="javascript:;" @click="del_all" v-show="show">删除全部</a></li>
    </ul>

</div>
<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            show:true,
            msg:"",
            message: ["欢迎大家来留言",]
        },
        methods: {
            change_message() {
                this.message.unshift(this.msg);
                this.msg="";
                this.show=true;
            },
            del_message(index){

                this.message.splice(index,1)
                if(this.message.length===0){
                    this.show=false
                }
            },
            del_all(){
                this.message=[];
                this.show=false
            }
        }
    })
</script>

</body>
</html>